<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Director | Dashboard</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <meta name="description" content="Developed By M Abdur Rokib Promy">
    <meta name="keywords" content="Admin, Bootstrap 3, Template, Theme, Responsive">
    <!-- bootstrap 3.0.2 -->
    <link href="~/Content/Dashboard/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- font Awesome -->
    <link href="~/Content/Dashboard/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Ionicons -->
    <link href="~/Content/Dashboard/css/ionicons.min.css" rel="stylesheet" type="text/css" />
    <!-- Morris chart -->
    <link href="~/Content/Dashboard/css/morris/morris.css" rel="stylesheet" type="text/css" />
    <!-- jvectormap -->
    <link href="~/Content/Dashboard/css/jvectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
    <!-- Date Picker -->
    <link href="~/Content/Dashboard/css/datepicker/datepicker3.css" rel="stylesheet" type="text/css" />
    <!-- fullCalendar -->
    <!-- <link href="css/fullcalendar/fullcalendar.css" rel="stylesheet" type="text/css" /> -->
    <!-- Daterange picker -->
    <link href="~/Content/Dashboard/css/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
    <!-- iCheck for checkboxes and radio inputs -->
    <link href="~/Content/Dashboard/css/iCheck/all.css" rel="stylesheet" type="text/css" />
    <!-- bootstrap wysihtml5 - text editor -->
    <!-- <link href="css/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" type="text/css" /> -->
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <!-- Theme style -->
    <link href="~/Content/Dashboard/css/style.css" rel="stylesheet" type="text/css" />



    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->

    <style type="text/css">
    </style>
</head>
<body class="skin-black">
    <!-- header logo: style can be found in header.less -->
    <header class="header">
        <a class="logo">
            <img src="/Content/Table/LaundeyLogo.png" /> Tvättstuga
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="navbar-right">
                <ul class="nav navbar-nav">
                    <!-- Messages: style can be found in dropdown.less-->
                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            @if (Request.IsAuthenticated)
                            {
                                <i class="fa fa-user"></i>
                                <span>@((User as LaunderySystem.CustomIdentity.CustomPrincipal).FirstName) @((User as LaunderySystem.CustomIdentity.CustomPrincipal).LastName) <i class="caret"></i></span>
                            }
                        </a>
                        <ul class="dropdown-menu dropdown-custom dropdown-menu-right">
                            <li class="dropdown-header text-center">Account</li>

                            <li class="divider"></li>

                            <li>
                                <a href="#">
                                    <i class="fa fa-user fa-fw pull-right"></i>
                                    Profile
                                </a>
                                <a data-toggle="modal" href="#modal-user-settings">
                                    <i class="fa fa-cog fa-fw pull-right"></i>
                                    Settings
                                </a>
                            </li>

                            <li class="divider"></li>

                            <li>
                                <a href="@Url.Content("/Account/Logout/")"><i class="fa fa-ban fa-fw pull-right"></i> Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="wrapper row-offcanvas row-offcanvas-left">
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="left-side sidebar-offcanvas">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">

                    <div class="pull-left info">

                        <p>Tvättstuga addressen : <br /><br />@((User as LaunderySystem.CustomIdentity.CustomPrincipal).LaunderyAdress)</p>

                    </div>
                </div>
                <!-- search form -->
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                    <li class="active">
                        <a href="@Url.Content("/Nz77jh92/index/")">
                            <i class="fa fa-dashboard"></i> <span>Index</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Content("/Nz77jh92/UserList/")">
                            <i class="fa fa-gavel"></i> <span>Edit Users</span>
                        </a>
                    </li>

                    <li>
                        <a href="@Url.Content("/Nz77jh92/LaunderyList/")">
                            <i class="fa fa-globe"></i> <span>Edit Laundery</span>
                        </a>
                    </li>

                    <li>
                        <a href="@Url.Content("/Nz77jh92/CreateUser/")">
                            <i class="fa fa-glass"></i> <span>Create User</span>
                        </a>
                    </li>

                    <li>
                        <a href="@Url.Content("/Nz77jh92/CreateLaundery/")">
                            <i class="fa fa-glass"></i> <span>Create Laundery</span>
                        </a>
                    </li>

                    <li>
                        <a href="@Url.Content("/Nz77jh92/News/")">
                            <i class="fa fa-glass"></i> <span>All News</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Content("/Nz77jh92/CreateNews/")">
                            <i class="fa fa-glass"></i> <span>Create News</span>
                        </a>
                    </li>

                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        @RenderBody()
        <div class="footer-main">
            Copyright &copy Ninos & Johan, 2015
        </div>
    </div><!-- ./wrapper -->

</body>
</html>